<ion-view view-title="SignIn">
  <ion-content class="padding">
    <div class="list list-inset">
      <form ng-submit='login()'>
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>
      </div>
      <input type='submit' class="button button-block button-positive" vlue='Submit'
    </form>

    <div class='text-center'>
      <p>OR</p>
    </div>
    <a href='#/signup' class="button button-block button-positive">Sign Up</a>

  </ion-content>
</ion-view>
