<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Location" icon-off="ion-ios-location-outline" icon-on="ion-ios-location-outline" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera-outline" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>


</ion-tabs>
